# Include MANIFEST.in
include MANIFEST.in

# Include the license file
include LICENSE.txt
include NOTICE.txt

# Include README
include README.md

recursive-exclude build *
recursive-exclude dist *
recursive-exclude tools *
recursive-exclude venv *
recursive-exclude var *
